* {
  box-shadow: none !important;
}

body {
  padding: 50px 0 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body#room {
  padding: 50px 0 60px 0;
}

.header {
  height: 50px;
  background: #00bcd4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header form {
  display: inline;
}

.logo {
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 24px;
  margin-left: 12px;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

.modal-content {
  box-shadow: none;
}

.modal-title {
  display: inline;
}

.modal-dialog {
  margin: 60px auto;
}

.btn-header {
  margin: 5px;
  height: 40px;
  border-radius: 0;
  border: solid 1px #ffffff;
}

.btn-header:hover, .btn-header:focus, .btn-header:hover:focus{
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #00bcd4;
  outline: none;
}

.btn-primary {
  background-color: #00bcd4;
  border-color: #00acc1;
}

.btn-primary:hover {
  background-color: #00acc1;
  border-color: #0097a7;
}

.btn-primary:focus, .btn-primary:hover:focus {
  background-color: #0097a7;
  border-color: #00838f;
}

.btn-danger {
  background-color: #f44336;
  border-color: #e53935;
}

.btn-danger:hover {
  background-color: #e53935;
  border-color: #d32f2f;
}

.btn-danger:focus, .btn-danger:hover:focus {
  background-color: #d32f2f;
  border-color: #c62828;
}


/* room */

#changed {
  display: none;
  float: right;
  margin: 10px 5px;
  padding: 0 0.5em;
  height: 30px;
  line-height: 27px;
  color: #ffffff;
  border: solid 1.5px #ffffff;
  border-radius: 5px;
}

#changed-dicebot {
  display: none;
}

#user-name {
  margin: 5px;
  margin-right: 20px;
  height: 40px;
  padding: 0 0 2px 0;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  text-align: right;
  float: right;
  background-color: transparent;
  border: none;
}

#user-name:focus {
  padding: 0px;
  border-bottom: solid 2px #ffffff;
  outline: none
}

.contents {
  background-color: #fafafa;
  overflow-y: hidden;
  height: 100%;
}

#result-area {
  background-color: white;
  width: 180px;
  height: 100%;
  border-right: solid 1px #e7e7e7;
  overflow-y: scroll;
  position: relative;
  float: left;
}

.result {
  padding-left: 5px;
  margin: 0.5em 0;
}

.result p {
  margin: 2px 0 0 0;
}

#memo-area {
  background-color: white;
  width: 180px;
  height: 100%;
  border-right: solid 1px #e7e7e7;
  overflow-y: scroll;
  position: relative;
  float: left;
}


.toolbar {
  height: 60px;
  background-color: #fafafa;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.memo {
  border-bottom: solid 1px #f0f0f0;
  height: 54px;
  padding: 0.5em 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: 37px;
  font-size: 20px;
  cursor: pointer;
}

.memo:hover, .memo:focus {
  background-color: rgba(0, 188, 212, 0.10);
  outline: none;
}

.popover {
  box-shadow: none;
}

#map-area {
  position: relative;
  margin-left: 360px;
  overflow-y: scroll;
  height: 100%;
}

#map-img {
  padding: 5px;
  padding-bottom: 0px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#dice-tool, #memo-tool{
  display: inline-block;
  background-color: white;
  width: 180px;
  padding-bottom: 10px;
  border-right: solid 1px #e7e7e7;
  float: left;
}

#dice-input, #dice-input:focus{
  width: 170px;
  height: 40px;
  margin: 5px 5px;
  border: solid 2px #e0e0e0;
  line-height: 40px;
  font-size: 20px;
  outline: none;
}

#dice-input:hover, #dice-input:focus {
  border-color: #00bcd4;
}

#add-memo {
  height: 40px;
  margin: 5px;
  border: solid 2px #e0e0e0;
  width: 170px;
  font-size: 20px;
  line-height: 20px;
  color: #555459;
}

#add-memo:hover, #add-memo:focus, #add-memo:active, #add-memo:active:focus {
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: white;
  box-shadow: none;
}

#map-tool {
  height: 50px;
  margin-left: 360px;
}

#change-map {
  float: right;
  height: 40px;
  margin: 5px;
}

#error-password {
  display: none;
  margin-left: 10px;
}

.dice {
  position: absolute;
  height: 100px;
  overflow: hidden;
}

.dice img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 0;
}

#amount {
  width: 100px;
  position: absolute;
  border: solid 1px #000000;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  background-color: #ffffff;
}

/* room list */

.header-room-list {
  padding: 34px 16px 16px 16px;
  font-size: 28px;
  max-width: 700px;
  margin: 0 auto;
}

.room-list {
  overflow-y: scroll;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 118px;
}

.room {
  color: #333;
  display: block;
  font-size: 16px;
  padding: 16px 32px 16px 16px;
  border-top: solid 1px #e7e7e7;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.room:hover, .room:focus, .room:hover:focus {
  color: #333;
  text-decoration: none;
  background-color: #f8f8f8;
}

.glyphicon-dummy {
  display: inline-block;
  width: 16px;
}
